{% extends "master.html" %}

{% block title %}
  Nahrát model
{% endblock %}


{% block content %}
<h1>Nahrát model</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group mb-3">
        <button class="btn btn-outline-secondary" id="inputGroupFileAddon03" type="submit">Nahrát</button>
        {{ form.as_p }}
        </div>


        <br>
        <a href="{% url 'upload_image' %}">Nahrát obrázek pro predikci</a>
    </form>

{% endblock %}

