<!-- neuron/templates/neuron/user_models.html -->
{% extends "master.html" %}

{% block title %}
    Moje modely
{% endblock %}

{% block content %}
<h1>Moje modely</h1>
<p class="lead">Zde můžete spravovat vaše nahrané modely neuronových sítí. Můžete si vybrat model k použití nebo nahrát nový model.</p>
<ul class="list-group mb-4">
    {% for model in user_models %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ model.model_name }}</span>
            <a href="{% url 'upload_image' %}?model_id={{ model.id }}" class="btn btn-primary btn-sm">Použít tento model</a>
        </li>
    {% empty %}
        <li class="list-group-item">Nemáte žádné modely</li>
    {% endfor %}
</ul>
<div>
    <a href="{% url 'upload_model' %}" class="btn btn-success">Nahrát nový model</a>
</div>
{% endblock %}
