<!-- neuron/templates/neuron/user_models.html -->
{% extends "master.html" %}

{% block title %}
    Moje modely
{% endblock %}

{% block content %}
    <h1>Moje modely</h1>
    <ul class="list-group">
        {% for model in user_models %}
            <li class="list-group-item">
                {{ model.model_name }} -
                <a href="{% url 'upload_image' %}?model_id={{ model.id }}" class="btn btn-primary btn-sm">Použít tento model</a>
            </li>
        {% empty %}
            <li class="list-group-item">Nemáte žádné modely</li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <a href="{% url 'upload_model' %}" class="btn btn-success">Nahrát nový model</a>
    </div>
{% endblock %}
